


/*

navigation css starts*/


#navbarNav{  

  background-color: #023272;

}
.navigation-bg{

  background-color: #023272;

}

.nav-link{
color: rgb(228, 145, 22);
font-family: 'Times New Roman';
font-weight: bolder;

}

.nav-link:hover  {
  color: #023272;
  font-family: 'Times New Roman';
  font-weight: bolder;
  background-color: rgb(228, 145, 22); ;
  
  }

/*navigation csss ends*/



/*mainhome css starts*/

.bgimg{
  background-image: url(C:\Users\VR\sample\src\image\software-developer.jpg);
  background-size: cover;
}
.maincontent{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgb(228, 89, 30);
  padding:15% 0% 18% 0%;
}
/*main home css ends*/
/*about css starts*/
.aboutcontent{
  padding: 8% 0%;
  font-weight: bolder;
 

  background-color: rgb(8, 5, 13);
  color: #f5deb3;

}
/*about css ends*/

/*projects css starts*/
.project{


  background-color:#f5deb3;
  padding: 10% 0%;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  color:rgb(8, 5, 13)

}
/*projects css endss*/

/*be in touch css starts*/

ul{

  list-style-type: none;
}

a{

text-decoration: none;
color: #08050d;

}




/*be intouch css endss*/