


/*navigation section starts*/
@media (max-width: 992px){
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("image/THREELINES.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}}
/* home page media queries starts */
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
   
    justify-content: end;
}
}


@media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 30px;
}
}
 /*home page media queries ends */
 /*mainhome page media queries starts */
 @media (max-width:768px){
 .maincontent{
    padding:15% 0% 15% 0%;

 }
 }
  /*mainhome page media queries starts */

    /*about page media queries starts */
    @media (max-width:768px){
    .aboutcontent{
        padding: 15% 0% ;

    }
}
          /*about page media queries endss */
  /*be in touch page media queries starts*/
  @media (min-width:768px){
  

  .cont ,.serv{

padding: 10% 0%;

  }
  }
  @media (max-width:768px){

    .cont {

        padding:15% 0% 5% 0%;
        
          }
        

     .serv{
        padding:0% 0% 10% 0%;


     }     
    }

  
  /*be in touch page media queries ends*/
